<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="styles/main.css" />
    <style type="text/css">
    html,body{ height:100%;} 
    </style>
</head>
<body>
	<div #title-bar command="window-caption">
		<span .title style='font-size:14px;font-family:"微软雅黑"'>&nbsp;<img src="styles/images/folder_green_music.png" width="16" height="16" /><b>&nbsp;歌词下载器</b></span>
        <div .ctrl-bar>
        	<a command="window-min" onclick="minWindow()">0</a>
        	<a command="window-max">1</a>
            <a command="window-close">r</a> 
        </button>
    </div>
    <div #main-body>
    	<div .empty-div>
    		<span id="openDir" class="btn">打开歌曲目录</span>
			<span id="startDl" class="btn" style="display:none">开始下载歌词</span>
    	</div>
    	<div>
    		<table cellspacing="0" border="0" id="list-table" style="display:none">		
	    	</table>
    	</div>	
    </div>
</body>
</html>